# Leer el csv

In [20]:
import pandas as pd

In [21]:
weather_df = pd.read_csv('weather.csv')

# 1 - Temperatura máxima registrada

In [22]:
max_temp = weather_df['temp_max'].max()
max_temp

30.47

# 2 - Filtrar registros con temperatura minima menor a 17ºC

In [23]:
df_below_17 = weather_df[weather_df['temp_min'] < 17]
df_below_17

,weather,dt_txt,temp,feels_like,temp_min,temp_max,humidity,wind_speed,rain_3h,city
51,Clouds,2025-02-18 00:00:00,16.83,17.13,16.83,16.83,98,0.73,0.0,Seville
52,Clouds,2025-02-18 03:00:00,16.62,16.90,16.62,16.62,98,0.84,0.0,Seville
59,Clouds,2025-02-19 00:00:00,16.96,17.27,16.96,16.96,98,0.88,0.0,Seville
60,Clouds,2025-02-19 03:00:00,16.58,16.80,16.58,16.58,96,0.61,0.0,Seville

# 3 - Contar registros con meteorología lluviosa

In [24]:
rainy_days = len(weather_df[weather_df['weather'] == 'Rain'])
rainy_days

11

# 4 - Crear una nueva columna donde se convierta la temperatura de Celsius a Kelvin (Sumamos 273 al valor)

In [25]:
weather_df['temp_k'] = weather_df['temp'] + 273

# 5 - Ordenar por temperatura máxima en grados Celsius (descendente)

In [28]:
weather_df.sort_values(by='temp_max', ascending=False)

,weather,dt_txt,temp,feels_like,temp_min,temp_max,humidity,wind_speed,rain_3h,city,temp_k
63,Clouds,2025-02-19 12:00:00,30.47,30.12,30.47,30.47,39,1.39,0.00,Seville,303.47
55,Clouds,2025-02-18 12:00:00,29.85,29.11,29.85,29.85,36,1.50,0.00,Seville,302.85
31,Clouds,2025-02-15 12:00:00,29.74,29.98,29.74,29.74,45,2.26,0.00,Seville,302.74
47,Rain,2025-02-17 12:00:00,29.17,29.76,29.17,29.17,49,2.38,0.45,Seville,302.17
38,Clouds,2025-02-16 09:00:00,29.09,30.03,29.09,29.09,52,1.54,0.00,Seville,302.09
...,...,...,...,...,...,...,...,...,...,...,...
28,Clouds,2025-02-15 03:00:00,17.10,17.40,17.10,17.10,97,0.93,0.00,Seville,290.10
59,Clouds,2025-02-19 00:00:00,16.96,17.27,16.96,16.96,98,0.88,0.00,Seville,289.96
51,Clouds,2025-02-18 00:00:00,16.83,17.13,16.83,16.83,98,0.73,0.00,Seville,289.83
52,Clouds,2025-02-18 03:00:00,16.62,16.90,16.62,16.62,98,0.84,0.00,Seville,289.62
60,Clouds,2025-02-19 03:00:00,16.58,16.80,16.58,16.58,96,0.61,0.00,Seville,289.58

# 7 - Agrupar por prevision (columna weather) y calcular temperatura mínima y máxima

In [29]:

(weather_df
    .groupby('weather')
    .temp
    .agg(['min', 'max'])
)

           min    max
weather
Clouds   16.58  30.47
Rain     17.74  29.17

# 8 - Agrupar por ciudad (columna 'city') y calcular temperatura media

In [30]:
(weather_df
    .groupby('city')
    .temp
    .mean()
)

city
London     18.3664
Seville    22.3235
Name: temp, dtype: float64

# 9 - Crear un nuevo dataframe con las columnas 'dt_txt', 'city' y 'humidity'

In [31]:
df_humidity = weather_df[['dt_txt', 'city', 'humidity']]
df_humidity

                 dt_txt     city  humidity
0   2025-02-14 18:00:00   London        83
1   2025-02-14 21:00:00   London        82
2   2025-02-15 00:00:00   London        80
3   2025-02-15 03:00:00   London        79
4   2025-02-15 06:00:00   London        80
..                  ...      ...       ...
60  2025-02-19 03:00:00  Seville        96
61  2025-02-19 06:00:00  Seville        68
62  2025-02-19 09:00:00  Seville        43
63  2025-02-19 12:00:00  Seville        39
64  2025-02-19 15:00:00  Seville        60

[65 rows x 3 columns]

# 10 - Renombrar la columna 'dt_txt' a 'datetime'

In [33]:
df_humidity.rename(columns={'dt_txt': 'datetime'})

               datetime     city  humidity
0   2025-02-14 18:00:00   London        83
1   2025-02-14 21:00:00   London        82
2   2025-02-15 00:00:00   London        80
3   2025-02-15 03:00:00   London        79
4   2025-02-15 06:00:00   London        80
..                  ...      ...       ...
60  2025-02-19 03:00:00  Seville        96
61  2025-02-19 06:00:00  Seville        68
62  2025-02-19 09:00:00  Seville        43
63  2025-02-19 12:00:00  Seville        39
64  2025-02-19 15:00:00  Seville        60

[65 rows x 3 columns]

# 11 - Guardar el nuevo datafreme en un fichero csv (Sin añadir el índice, index = False)

In [32]:
df_humidity.to_csv("humidity.csv", index=False)